<st-sticky-share-buttons
  [config]="stickyButtonsConfig"
></st-sticky-share-buttons>

<h1>Sharethis Buttons - Angular</h1>

<h2>Inline Share Buttons</h2>

<st-inline-share-buttons
  [config]="inlineShareButtonsConfig"
></st-inline-share-buttons>

<h2>Inline Follow buttons</h2>

<st-inline-follow-buttons
  [config]="inlineFollowButtonsConfig"
></st-inline-follow-buttons>

<h2>Inline Reaction Buttons</h2>

<st-inline-reaction-buttons
  [config]="inlineReactionButtonsConfig"
></st-inline-reaction-buttons>
