<lib-sticky-share-buttons
  [config]="stickyButtonsConfig"
></lib-sticky-share-buttons>

<h1>Sharethis Buttons - Angular</h1>

<h2>Inline Share Buttons</h2>

<lib-inline-share-buttons
  [config]="inlineShareButtonsConfig"
></lib-inline-share-buttons>

<h2>Inline Follow buttons</h2>

<lib-inline-follow-buttons
  [config]="inlineFollowButtonsConfig"
></lib-inline-follow-buttons>

<h2>Inline Reaction Buttons</h2>

<lib-inline-reaction-buttons
  [config]="inlineReactionButtonsConfig"
></lib-inline-reaction-buttons>
